<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27079020285-cdqu80vach09kphuubd42ch93omoq335.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27079020285-cdqu80vach09kphuubd42ch93omoq335</string>
	<key>API_KEY</key>
	<string>AIzaSyDyXOQk6L7JN5h7CP91FdVvLDwyMh56SuY</string>
	<key>GCM_SENDER_ID</key>
	<string>27079020285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pongoapp</string>
	<key>PROJECT_ID</key>
	<string>pongo-9eaf4</string>
	<key>STORAGE_BUCKET</key>
	<string>pongo-9eaf4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27079020285:ios:340ef200cc143d264af894</string>
</dict>
</plist>